{% extends 'user/base.html' %}

{% load static %}

{% block title %} Contact Us {% endblock title %}

{% block banner %}
	<h2 class="text-white text-uppercase">Contact Us</h2>
	<p class="text-white">Please contact us to know more..</p>
{% endblock %}

{% block breadcrumb %}
	<a href="{% url 'home' %}" class="mr-1 text-decoration-none text-warning">Home </a>
	<span class="text-white">/ Contact Us</span>
{% endblock breadcrumb %}

{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'contact/fonts/font-awesome-4.7.0/css/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'contact/css/util.css' %}">
	<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block content %}
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="post" novalidate>
				{% csrf_token %}
				<span class="contact100-form-title font-weight-bold">Get In Touch</span>

				<label class="label-input100" for="first-name">Tell us your name *</label>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
					<input id="id_first_name" class="input100" type="text" name="first_name" placeholder="First name">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
					<input id="id_last_name" class="input100" type="text" name="last_name" placeholder="Last name">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="email">Enter your email *</label>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input id="id_email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="phone">Enter phone number</label>
				<div class="wrap-input100">
					<input id="id_phoneno" class="input100" type="text" name="phoneno" placeholder="Eg. +1 800 000000">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="message">Message *</label>
				<div class="wrap-input100 validate-input" data-validate = "Message is required">
					<textarea id="id_msg" class="input100" name="msg" placeholder="Write us a message"></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="btn btn-success">Send Message</button>
				</div>
			</form>

<!-- 			<form method="post" novalidate>
				{% csrf_token %}
				{% include 'includes/form.html' %}
				<button type="submit" class="btn btn-rose float-md-none float-left mr-2 mr-xs-3">Login</button>
				<a href="{% url 'password_reset' %}" class="text-muted text-decoration-none float-md-right pt-sm-3 pt-2 float-left">Forgot your password?</a>
			</form> -->

			<div class="contact100-more flex-col-c-m" style="background-image: url('{% static 'contact/images/bg-01.jpg' %}');">
				<div class="flex-w size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-map-marker"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">Address</span>

						<span class="txt2">New York, NY 10018 US</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-phone-handset"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">Lets Talk</span>

						<span class="txt3">+99 7902343487</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-envelope"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">General Support</span>

						<span class="txt3">developer4mysite@gmail.com</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'contact/js/main.js' %}"></script>
{% endblock %}