{% load static %}
<!DOCTYPE html>
<html >
<head>
	<title>Contact Us | mysite</title>
	<link rel="shortcut icon" href="{% static 'afl_user-assets/img/favicon.ico' type='image/x-icon' %}">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<style type="text/css" media="screen">
		body { padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#eae8e1; -webkit-text-size-adjust:none }
		a { color:#509c2b; text-decoration:none !important;font-weight:bold; }
		p { padding:0 !important; margin:0 !important } 
		img { -ms-interpolation-mode: bicubic;} 
		@media only screen and (max-device-width: 480px), only screen and (max-width: 480px) { 
			div[class='mobile-br-2'] { height: 2px !important; }
			div[class='mobile-br-5'] { height: 5px !important; }
			div[class='mobile-br-10'] { height: 10px !important; }
			div[class='mobile-br-15'] { height: 15px !important; }
			div[class='mobile-br-25'] { height: 25px !important; }
			th[class='m-td'], 
			td[class='m-td'], 
			div[class='hide-for-mobile'], 
			span[class='hide-for-mobile'] { display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important; }
			span[class='mobile-block'] { display: block !important; }
			div[class='img-m-center'] { text-align: center !important; }
			td[class='text-top'],
			td[class='text-top2'],
			td[class='text-top-l'] 
			td[class='text-table'] 
			td[class='text-right'] 
			div[class='h4-white-c'],
			div[class='text-white-c'],
			div[class='text-white2-c'],
			div[class='text-white3-c'],
			div[class='text-grey-right'],
			div[class='text-grey'],
			div[class='text-top'],
			div[class='text-top2'],
			div[class='text-white-right'],
			div[class='text-white-footer'],
			div[class='text-top-l'] { text-align: center !important; }
			div[class='text-table'] { font-size: 10px !important; }
			div[class='text-right'] { font-size: 10px !important; }
			div[class='fluid-img'] img,
			td[class='fluid-img'] img { width: 100% !important; max-width: 100% !important; height: auto !important; }
			table[class='mobile-shell'] { width: 100% !important; min-width: 100% !important; }
			table[class='center'] { margin: 0 auto; }
			table[class='left'] { margin-right: auto; }
			th[class='column-top'],
			th[class='column-rtl'],
			th[class='column'] { float: left !important; width: 100% !important; display: block !important; }
			td[class='td'] { width: 100% !important; min-width: 100% !important; }
			td[class='w50'] { width: 50% !important; }
			td[class='mw1'] { width: 110px !important; }
			td[class='mw2'] { width: 110px !important; }
			td[class='mw3'] { width: auto !important; }
			td[class='content-spacing'] { width: 15px !important; }
			td[class='content-spacing2'] { width: 8px !important; }
		} 
	</style>
</head>
<body class="body" style="padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#eae8e1; -webkit-text-size-adjust:none">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#eae8e1">
		<tr>
			<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="1"></td>
			<td align="center" valign="top">
				<table border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
					<tr>
						<td class="td" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
							<!-- Header -->
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<div class="hide-for-mobile"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</div>
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<!-- Top Bar -->
										<table width="100%" height="80px" border="0" cellspacing="0" cellpadding="0" bgcolor="#383838">
											<tr>
												<td>
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<!-- Column -->
															<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td align="left">
																			<table class="center" border="0" cellspacing="0" cellpadding="0">
																				<tr>
																					<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
																					<td class="text-top-l" style="color:#ffffff; font-family:Arial,sans-serif; font-size:11px; line-height:15px; text-align:left; text-transform:uppercase">
																						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="5" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
																						<a href="http://localhost:8002/"><img src="https://raw.githubusercontent.com/Rayeesac/mysite/master/myproject/static/watch-assets/img/logo.png" alt="SmartWatch"></a>
																						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

																					</td>
																					<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
																				</tr>
																			</table>
																		</td>
																	</tr>
																</table>
															</th>
															<!-- END COlumn -->
															<!-- Column -->
															<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;" width="220">
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
																		<td align="right">
																			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="5" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

																			<!-- Socials -->
																			<table class="center" border="0" cellspacing="0" cellpadding="0">
																				<tr>
																					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="34">
																						<a href="https://www.facebook.com" target="_blank"><img src="https://raw.githubusercontent.com/Rayeesac/mysite/master/myproject/static/watch-assets/img/social/facebook.png" border="0" width="24" height="24"></a>
																					</td>
																					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="34">
																						<a href="https://twitter.com/" target="_blank"><img src="https://raw.githubusercontent.com/Rayeesac/mysite/master/myproject/static/watch-assets/img/social/twitter.png" border="0" width="24" height="24"></a>
																					</td>
																					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="34">
																						<a href="https://www.instagram.com/" target="_blank"><img src="https://raw.githubusercontent.com/Rayeesac/mysite/master/myproject/static/watch-assets/img/social/instagram.png" border="0" width="24" height="24"></a>
																					</td>
																					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="34">
																						<a href="https://www.linkedin.com/" target="_blank"><img src="https://raw.githubusercontent.com/Rayeesac/mysite/master/myproject/static/watch-assets/img/social/linkedin.png" border="0" width="24" height="24"></a>
																					</td>
																				</tr>
																			</table>
																			<!-- END Socials -->
																			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

																		</td>
																		<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
																	</tr>
																</table>
															</th>
															<!-- END COlumn -->
														</tr>
													</table>
												</td>
											</tr>
										</table>
										<!-- END Top Bar -->
							
										<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
											<tr>
												<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
												<td>
													<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<!-- Column -->
															<th class="column" style="font-size:20px; line-height:0pt; padding:0; margin:0; font-weight:bold;color: #92328d !important;" width="205">
																Smart Watch
															</th>
															<!-- END COlumn -->
															<!-- Column -->
															<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td class="text-top2" style="color:#444; font-family:Arial,sans-serif; font-size:11px; line-height:15px; text-align:right; text-transform:uppercase">
																			<a href="http://localhost:8002/#about" target="_blank" class="link-grey2-u" style="color:#444;"><span class="link-grey2-u" style="color:#444;">ABOUT</span></a>
																			 &nbsp; &nbsp; 
																			<a href="http://localhost:8002/#service" target="_blank" class="link-grey2-u" style="color:#444;"><span class="link-grey2-u" style="color:#444;">SERVICE</span></a>
																			 &nbsp; &nbsp;
																			<a href="http://localhost:8002/#unique" target="_blank" class="link-grey2-u" style="color:#444;"><span class="link-grey2-u" style="color:#444;">UNIQUE FEATURE</span></a>
																				&nbsp; &nbsp;
																			<a href="http://localhost:8002/contactus" target="_blank" class="link-grey2-u" style="color:#444;"><span class="link-grey2-u" style="color:#444;">CONTACT</span></a>
																				&nbsp; &nbsp;
																			<a href="http://localhost:8002/#faq" target="_blank" class="link-grey2-u" style="color:#444;"><span class="link-grey2-u" style="color:#444;">FAQ</span></a>
																				&nbsp; &nbsp;
																		</td>
																	</tr>
																</table>
															</th>
															<!-- END COlumn -->
														</tr>
													</table>
													<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

												</td>
												<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<!-- END Header -->
							
							<!-- Section 1 -->
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<div class="fluid-img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="https://raw.githubusercontent.com/Rayeesac/mysite/master/myproject/static/contact/images/contact-banner.jpg" alt="Contact Us"></div>
									</td>
								</tr>
							</table>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="2" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
							
							<!-- Section 4 -->
							<table width="100%" border="0" cellspacing="0" cellpadding="30" bgcolor="#d1d1d1" style="line-height:50px;">
								<tr>									
									<td></td><td></td>
									<td>
										<!-- Row 1 -->
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<th style="color: brown;">First Name</th>
														</tr>
													</table>
												</th>												
											<!-- END COlumn -->
											</tr>
										</table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<th style="color: brown;">Last Name</th>
														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<th style="color: brown;">Email</th>
														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<th style="color: brown;">Phone Number</th>
														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<th style="color: brown;">Message</th>
														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>
									
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

									</td>
								
								<td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<th>:&nbsp;&nbsp;{{ first_name }}</th>
														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>
									
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<th>:&nbsp;&nbsp;{{ last_name }}</th>
														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>

										
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<th>:&nbsp;&nbsp;{{ email }}</th>
														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<th>:&nbsp;&nbsp;{{ phoneno }}</th>
														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<th>:&nbsp;&nbsp;{{ msg }}</th>
														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>
									
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
									</td>
									<td></td><td></td>
								</tr>

							</table>
							<!-- END Section 4 -->

							<!-- Section 4 -->
							<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f0f0f0" style="line-height:50px;">
								<tr>
									<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
									<td>
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										

										<!-- Row 1 -->
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<th>Hi there,</th>
														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>
									
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<td style="text-indent: 14px;">Welcome to Smart Watch! I'm so excited to have you join us. We're feeling pretty lucky that you chose us, and I just </td>
														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>
									
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<td>wanna say thank you on behalf of our whole company. To get you settled, I wanted to share with you some of our best </td>
														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>
									
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<td>resources so you can make the most out of your experience with us.. </td>
														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>
										
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
									
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<td style="text-indent: 14px;">If you're interested in learning more about your product, feel free to contact me or anyone else on our support team at</td>
														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>
									
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<td> any time.  We're always here to help you in any </td>

														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>
									
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<td>way we can.</td>

														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:20pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<td><b>Note:-</b></td>

														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:18px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<td><ul><li>This is an auto generated response to your email sent to us</li></ul></td>

														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:18px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<td><ul><li>Please do not reply to this email as it will not be received.</li></ul></td>

														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>										

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:18px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<td><ul><li>This is to let you know that we have received your email and one of our representative will contact you soon.</li></ul></td>

														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>										

										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<td>Cheers,</td>

														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:10pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<th>Developer</th>

														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<!-- Column -->
												<th class="column-top" style="font-size:20px;line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; color: #666;text-align: left;" width="300">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" >
														<tr>
															<th>MySite</th>

														</tr>
													</table>
												</th>
											<!-- END COlumn -->
											</tr>
										</table>
									
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

									</td>
									<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
								</tr>
							</table>
							<!-- END Section 4 -->
							
						<!-- Section 3 -->
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td bgcolor="#65606f" valign="top" height="240">
										<div>
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
													<td align="center" height="240">
														<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

														<div class="h3-white-center" style="color:#ffffff; font-family:Arial,sans-serif; font-size:26px; line-height:30px; text-align:center">Get Ready to Start Your Shopping</div>
														<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="5" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

														<div class="h4-white-center" style="color:#ffffff; font-family:Arial,sans-serif; font-size:15px; line-height:20px; text-align:center; text-transform:uppercase">Who are in extremely love with eco friendly system.</div>
														<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
													
														<!-- Buttons -->
														<table class="center" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<!-- Column -->
																<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td align="center">
																				<!-- Button -->
																				<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ececec">
																					<tr>
																						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
																						<td>
																							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="8" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

																							<div class="text3" style="color:#625e50; font-family:Arial,sans-serif; font-size:12px; line-height:18px; text-align:left">
																								<a href="http://localhost:8002/#unique" target="_blank" class="link-grey" style="color:#383838; text-decoration:none"><span class="link-grey" style="color:#383838; text-decoration:none"><strong>SHOPPING NOW</strong></span></a>
																							</div>
																							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="8" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

																						</td>
																						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
																					</tr>
																				</table>
																				<!-- END Button -->
																			</td>
																		</tr>
																	</table>
																</th>
																<!-- END COlumn -->
																<!-- Column -->
																<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;" width="22"><div style="font-size:0pt; line-height:0pt;" class="mobile-br-15"></div>
</th>
																<!-- END COlumn -->
																<!-- Column -->
																<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td align="center">
																				<!-- Button -->
																				<table border="0" cellspacing="0" cellpadding="0" bgcolor="#509c2b">
																					<tr>
																						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
																						<td>
																							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="8" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

																							<div class="text-button" style="color:#ffffff; font-family:Arial,sans-serif; font-size:12px; line-height:18px; text-align:center; text-transform:uppercase">
																								<a href="http://localhost:8002/generic#unique" target="_blank" class="link-white" style="color:#ffffff; text-decoration:none"><span class="link-white" style="color:#ffffff; text-decoration:none"><strong>Start your search</strong></span></a>
																							</div>
																							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="8" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

																						</td>
																						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
																					</tr>
																				</table>
																				<!-- END Button -->
																			</td>
																		</tr>
																	</table>
																</th>
																<!-- END COlumn -->
															</tr>
														</table>
														<!-- END Buttons -->
														<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

													</td>
													<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
												</tr>
											</table>
										</div>
										<!--[if gte mso 9]>
											</v:textbox>
											</v:rect>
										<![endif]-->
									</td>
								</tr>
							</table>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="2" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

							<!-- END Section 3 -->

							<!-- Footer -->
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#383838">
											<tr>
												<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
												<td>
													<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<!-- Column -->
															<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;" width="270">
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td>
																			<div class="img" style="font-size:0pt; line-height:0pt; text-align:left">
																				<div class="img-m-center" style="font-size:0pt; line-height:0pt"><a href="http://localhost:8002/"><img src="https://raw.githubusercontent.com/Rayeesac/mysite/master/myproject/static/watch-assets/img/logo.png" alt="SmartWatch"></a></div>
																			</div>
																			<div style="font-size:0pt; line-height:0pt;" class="mobile-br-15"></div>

																		</td>
																	</tr>
																</table>
															</th>
															<!-- END COlumn -->
															<!-- Column -->
															<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td align="right">
																			<!-- Socials -->
																			<table class="center" border="0" cellspacing="0" cellpadding="0">
																				<tr>
																					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="34">
																						<a href="https://www.facebook.com" target="_blank"><img src="https://raw.githubusercontent.com/Rayeesac/mysite/master/myproject/static/watch-assets/img/social/facebook.png" border="0" width="24" height="24"></a>
																					</td>
																					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="34">
																						<a href="https://twitter.com/" target="_blank"><img src="https://raw.githubusercontent.com/Rayeesac/mysite/master/myproject/static/watch-assets/img/social/twitter.png" border="0" width="24" height="24"></a>
																					</td>
																					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="34">
																						<a href="https://www.instagram.com/" target="_blank"><img src="https://raw.githubusercontent.com/Rayeesac/mysite/master/myproject/static/watch-assets/img/social/instagram.png" border="0" width="24" height="24"></a>
																					</td>
																					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="34">
																						<a href="https://www.linkedin.com/" target="_blank"><img src="https://raw.githubusercontent.com/Rayeesac/mysite/master/myproject/static/watch-assets/img/social/linkedin.png" border="0" width="24" height="24"></a>
																					</td>
																				</tr>
																			</table>
																			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="25" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

																			<!-- END Socials -->
																			<div class="text-white-right" style="color:#ffffff; font-family:Arial,sans-serif; font-size:12px; line-height:18px; text-align:right">																
																				<a href="http://localhost:8002/" target="_blank" class="link-white-u" style="color:#ffffff; text-decoration:underline"><span class="link-white-u" style="color:#ffffff; text-decoration:underline">Mysite</span></a> &nbsp; <a href="mailto:developer4mysite@gmail.com" target="_blank" class="link-white-u" style="color:#ffffff; text-decoration:underline"><span class="link-white-u" style="color:#ffffff; text-decoration:underline">developer4mysite@gmail.com</span></a>
																			</div>
																		</td>
																	</tr>
																</table>
															</th>
															<!-- END COlumn -->
														</tr>
													</table>
													<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="8" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

												 
													<table width="100%" border="0" cellspacing="0" cellpadding="0" dir="rtl" style="direction: rtl;">
														<tr>
															<!-- Column -->
															<th class="column-rtl" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0; direction:ltr" >
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td>
																			<div class="text-white-right" style="color:#ffffff; font-family:Arial,sans-serif; font-size:12px; line-height:18px; text-align:right">
																				Phone: <a href="tel:+1123456789" target="_blank" class="link-white" style="color:#ffffff; text-decoration:none"><span class="link-white" style="color:#ffffff; text-decoration:none">+99 7902343487</span></a>
																			</div>
																		</td>
																	</tr>
																</table>
															</th>
															<!-- END COlumn -->
															<!-- Column -->
															<th class="column-rtl" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0; direction:ltr" width="270">
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td>
																			<div class="text-white-footer" style="color:#ffffff; font-family:Arial,sans-serif; font-size:12px; line-height:18px; text-align:left">Copyright &copy; 2020 MySite</div>
																		</td>
																	</tr>
																</table>
															</th>
															<!-- END COlumn -->
														</tr>
													</table>
													<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

												</td>
												<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
											</tr>
										</table>
							
										<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#509c2b">
											<tr>
												<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
												<td>
													<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

													<div class="text-white-center" style="color:#ffffff; font-family:Arial,sans-serif; font-size:12px; line-height:20px; text-align:center">
														You&rsquo;re receiving this newsletter because you submitted email from our site. <br />Not interested anymore? <a href="http://localhost:8002/" target="_blank" class="link-white-u" style="color:#ffffff; text-decoration:underline"><span class="link-white-u" style="color:#ffffff; text-decoration:underline">Unsubscribe</span></a> instantly.
													</div>
													<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

												</td>
												<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

							<!-- END Footer -->
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						</td>
					</tr>
				</table>
			</td>
			<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="1"></td>
		</tr>
	</table>
</body>
</html>
