{% extends 'user/base.html' %}

{% load static %}

{% block content %}

<!-- Start video-sec Area -->
<section class="video-sec-area section-gap" id="about">
	<div class="container">
		<div class="row justify-content-center align-items-center ">
			<div class="col-lg-6 video-left">
				<h6>Brand new app to blow your mind</h6>
				<h1>We’ve made a life <br>
				that will change you</h1>
				<p><span>We are here to listen from you deliver exellence</span></p>
				<p>A smartwatch is a digital watch that provides many other features besides timekeeping. Examples include monitoring your heart rate, tracking your activity, and providing reminders throughout the day.</p>
				<a class="primary-btn" href="#">Get Started now</a>
			</div>
			<div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
				<div class="overlay overlay-bg"></div>
				<a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid" src="{% static 'watch-assets/img/play-i' %}con.png" alt=""></a>
			</div>
		</div>
	</div>	
</section>
<!-- End video-sec Area -->

<!-- Start top-course Area -->
<section class="top-course-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">Top Courses That are open for Students</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>					
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-3 course-left">
				<div class="single-course">
					<span class="lnr lnr-rocket"></span>
					<a href="#"><h4>High Performance</h4></a>
					<p>battery will last up to 24 hours, depending on usage.</p>
				</div>
				<div class="single-course">
					<span class="lnr lnr-cog"></span>
					<a href="#"><h4>Different Options</h4></a>
					<p>Message notifications, GPS navigation and calendar synchronization.</p>
				</div>							
			</div>
			<div class="col-lg-6 course-middle">
				<img class="img-fluid mx-auto d-block" src="{% static 'watch-assets/img/c1.png' %}" alt="">
			</div>
			<div class="col-lg-3 course-right">
				<div class="single-course">
					<span class="lnr lnr-apartment"></span>
					<a href="#"><h4>Smartwatch flat</h4></a>
					<p>Smartwatch flat tires should be a thing of the past. Yet devices still have them in 2017.</p>
				</div>
				<div class="single-course">
					<span class="lnr lnr-phone"></span>
					<a href="#"><h4>Be Heard-Loud and Clear</h4></a>
					<p>Every phone call counts. Build a unique and lasting customer experience with voice products.</p>
				</div>														
			</div>
		</div>
	</div>	
</section>
<!-- End top-course Area -->

<!-- Start home-about Area -->
<section class="home-about-area">
	<div class="container-fluid">				
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-6 no-padding home-about-left">
				<img class="img-fluid" src="{% static 'watch-assets/img/about-' %}img.jpg" alt="">
			</div>
			<div class="col-lg-6 no-padding home-about-right">
				<h1>Globally Connected <br>
				by Large Network</h1>
				<p>
					<span>We are here to listen from you deliver exellence</span>
				</p>
				<p>Make phone call directly from the smart watch,including answering and dial-up.SIM slot,support make calls by Bluetooth or smart watch </p>
				<a class="text-uppercase primary-btn" href="#">get details</a>
			</div>
		</div>
	</div>	
</section>
<!-- End home-about Area -->			

<!-- Start service Area -->
<section class="service-area section-gap" id="service">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-md-8 pb-40 header-text">
				<h1>Some Services that Made us Unique</h1>
				<p>
					Who are in extremely love with eco friendly system.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-service">
					<h4><span class="lnr lnr-user"></span>Expert Technicians</h4>
					<p>
						Usage of the Internet is becoming more common due to rapid advancement of technology and power.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-service">
					<h4><span class="lnr lnr-license"></span>Professional Service</h4>
					<p>
						Usage of the Internet is becoming more common due to rapid advancement of technology and power.
					</p>								
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-service">
					<h4><span class="lnr lnr-phone"></span>Great Support</h4>
					<p>
						Usage of the Internet is becoming more common due to rapid advancement of technology and power.
					</p>								
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-service">
					<h4><span class="lnr lnr-rocket"></span>Technical Skills</h4>
					<p>
						Usage of the Internet is becoming more common due to rapid advancement of technology and power.
					</p>				
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-service">
					<h4><span class="lnr lnr-diamond"></span>Highly Recomended</h4>
					<p>
						Usage of the Internet is becoming more common due to rapid advancement of technology and power.
					</p>								
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-service">
					<h4><span class="lnr lnr-bubble"></span>Positive Reviews</h4>
					<p>
						Usage of the Internet is becoming more common due to rapid advancement of technology and power.
					</p>									
				</div>
			</div>						
		</div>
	</div>	
</section>
<!-- End service Area -->	

<!-- Start unique-feature Area -->
<section class="unique-feature-area section-gap" id="unique">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10 text-white">Some Features that Made us Unique</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="single-unique-product">
					<img class="img-fluid" src="{% static 'watch-assets/img/u1.jpg' %}" alt="">
					<div class="desc">
						<h4>
							Apple Watch White
						</h4>
						<h6>£399.00</h6>
						<a class="text-uppercase primary-btn" href="#">Pre Order</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-unique-product">
					<img class="img-fluid" src="{% static 'watch-assets/img/u2.jpg' %}" alt="">
					<div class="desc">
						<h4>
							Apple Watch White
						</h4>
						<h6>£399.00</h6>
						<a class="text-uppercase primary-btn" href="#">Pre Order</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-unique-product">
					<img class="img-fluid" src="{% static 'watch-assets/img/u3.jpg' %}" alt="">
					<div class="desc">
						<h4>
							Apple Watch White
						</h4>
						<h6>£399.00</h6>
						<a class="text-uppercase primary-btn" href="#">Pre Order</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-unique-product">
					<img class="img-fluid" src="{% static 'watch-assets/img/u4.jpg' %}" alt="">
					<div class="desc">
						<h4>
							Apple Watch White
						</h4>
						<h6>£399.00</h6>
						<a class="text-uppercase primary-btn" href="#">Pre Order</a>
					</div>
				</div>
			</div>																		
		</div>
	</div>	
</section>
<!-- End unique-feature Area -->

<!-- Start review Area -->
<section class="review-area section-gap" id="review">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">Reviews</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-review">
					<h4>Cody Hines</h4>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
					<div class="star">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-review">
					<h4>Chad Herrera</h4>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
					<div class="star">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-review">
					<h4>Andre Gonzalez</h4>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
					<div class="star">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-review">
					<h4>Jon Banks</h4>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
					<div class="star">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-review">
					<h4>Landon Houston</h4>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
					<div class="star">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-review">
					<h4>Nelle Wade</h4>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
					<div class="star">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
					</div>
				</div>
			</div>																
		</div>
	</div>	
</section>
<!-- End review Area -->

<!-- Start faq Area -->
<section class="faq-area section-gap" id="faq">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">Frequently Asked Questions</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>						
		<div class="row justify-content-start">
			<div class="col-lg-6 faq-left">
				<div id="accordion">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is a SmartWatch?</button>
							</h5>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">A smartwatch is a gadget with modern features; for example, the capacity to link & synchronize with a smartphone. Also, smartwatches can install certain apps and even take photos, make phone calls, and record videos.</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What is a stand-alone smartwatch?</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">A stand-alone smartwatch is a device that enables you to use a SIM-card. This way, you can get the functionalities of a smartphone on your wrist, for example, receiving & making calls, receiving & sending texts, organizing events, etc.</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Are Smart Watches Waterproof?</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">Yes, the modern smartwatch is waterproof although they use electronic elements. They have produced qualities to that of regular watches.It is better to review the features of the product before buying a smartwatch to know the range to which that particular model is waterproof.</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Do Smartwatches have sensors?</button>
							</h5>
						</div>
						<div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">Because a smartwatch is a device that is worn & in close to the skin, they frequently have sensor technology made in as quality. Today the most common sensors on the market including skin temperature sensors, GPS, heart rate sensor, capacitive sensor, light sensor, galvanic skin sensors, etc.</div>
						</div>
					</div>							  
				</div>							
			</div>	
		</div>
	</div>	
</section>
<!-- End faq Area -->
	
{% endblock %}			


