{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock title %}</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' type='image/x-icon' %}">

	<!-- Stylesheet -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom_class.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/toastr.css' %}">

	<!-- Javascript -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/developer.js' %}"></script>
	<script src="{% static 'js/toastr.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	
</head>
<body class="bg-gray-light"> 

	<!-- Main Body -->
	{% block body %}

		<!-- Navigation -->

		<nav class="navbar navbar-expand-sm navbar-dark bg-blue">
			<div class="container">
				<a class="navbar-brand font-weight-semi-bold" href="{% url 'home' %}">Home</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="mainMenu">
					{% if user.is_authenticated %}
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle font-weight-semi-bold" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ user.username }}
							</a>
							<div class="dropdown-menu dropdown-menu-right bg-gray-light-medium" aria-labelledby="userMenu">
								<a class="dropdown-item" href="{% url 'my_account' %}">My account</a>
								<a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
							</div>
						</li>
					</ul>
					{% elif request.get_full_path == '/'%}
					<form class="form-inline ml-auto">
						<a href="{% url 'login' %}" class="btn btn-login px-4">Log In</a>
						<a href="{% url 'signup' %}" class="btn btn-signup  ml-2 px-4">Sign Up</a>				
					</form>
					{% endif %}
				</div>
			</div>
		</nav>
		
		<!-- Breadcrumb  Block -->
		
		<div class="breadcrumb bg-gray-light-medium">
			<div class="container text-right">
				{% block breadcrumb %}{% endblock breadcrumb %}
			</div>
		</div>
		
		
		<!-- Message Block -->
		{% block messages %}
		   {% include "includes/message.html" with messages=messages %}
		{% endblock %}		

		<!-- Content Block -->
		{% block content %}{% endblock content %}

		{% block javascript %}
		{% endblock %}
	{% endblock %}

</body>

</html>