{% extends 'base.html' %}

{% block title %} Change password {% endblock title %}

{% block breadcrumb %} 
	<a href="{% url 'home' %}" class="mr-1 text-decoration-none text-blue">Home </a>
	<span class="text-black"> / Change Password</span>
{% endblock %}

{% block content %}
	<div class="position-relative">
		<div class="bg-user-img">
			<div class="container h-auto">
				<div class="row m-auto border-gray pr-0 user-login-section">
					<div class="col-lg-4 pr-0 col-md-5 col-sm-5 pl-sm-0 col-6 d-sm-block d-none">
						<div class=" hello-friend-block pb-5">
							<div class="quarterCircleBottomLeft"></div>
							<div class="halfCircleBottom"></div>
							<div class="welcome-block mb-3 hello-friend-block">
								<h4 class="font-weight-bold text-center pb-2">Change Password</h4>
								<p class="w-100">Enter new password to change your current password.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-7 m-auto col-md-6 col-sm-7 col-11 py-3">
						<h3 class="text-blue font-weight-bold text-center">Change Password</h3>
						<form method="post" novalidate>
							{% csrf_token %}
							{% include 'includes/form.html' %}
							<button type="submit" class="btn btn-rose">Change password</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}