{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock title %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'afl_user-assets/img/favicon.ico' type='image/x-icon' %}">

	<!-- Stylesheet -->
	<link rel="stylesheet" href="{% static 'afl_user-assets/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'watch-assets/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'afl_user-assets/css/toastr.css' %}">
	<link rel="stylesheet" href="{% static 'watch-assets/css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'watch-assets/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'watch-assets/css/theme/pages.css' %}">
	<link rel="stylesheet" href="{% static 'watch-assets/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'watch-assets/css/nice-select.css' %}">		
	<link rel="stylesheet" href="{% static 'watch-assets/css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'watch-assets/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'watch-assets/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'afl_user-assets/css/custom_class.css' %}">
	<link rel="stylesheet" href="{% static 'afl_user-assets/css/custom.css' %}">
	
	{% block stylesheet %}{% endblock %}

	
</head>
<body> 

	<!-- Main Body -->
	{% block body %}

		<!-- Header Block -->
		{% include 'includes/header.html' %}

		{% if request.get_full_path == '/' %}			
			{% include 'includes/banner_front.html' %}
		{% else %}
			<section class="generic-banner relative">	
				<div class="container">
					<div class="row h-400px align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								{% block banner %}
								{% endblock %}								
							</div>							
						</div>
					</div>
				</div>
			</section>	
		{% endif %}	

		<!-- Breadcrumb  Block -->
		{% if request.get_full_path != '/' %}	
		<div class="bg-blue py-3">
			<div class="container text-right font-weight-semi-bold">
				{% block breadcrumb %}{% endblock breadcrumb %}
			</div>
		</div>
		{% endif %}
		
		<!-- Content Block -->
		{% block content %}{% endblock content %}

		<!-- Footer Block -->
		{%  include 'includes/footer.html' %}

	{% endblock %}

</body>

	<!-- Javascript -->
	<script src="{% static 'afl_user-assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'watch-assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'afl_user-assets/js/popper.min.js' %}"></script>
	<script src="{% static 'afl_user-assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'watch-assets/js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'afl_user-assets/js/developer.js' %}"></script>
	<script src="{% static 'afl_user-assets/js/toastr.js' %}"></script>
	<script src="{% static 'watch-assets/js/easing.min.js' %}"></script>			
	<script src="{% static 'watch-assets/js/hoverIntent.js' %}"></script>
	<script src="{% static 'watch-assets/js/superfish.min.js' %}"></script>	
	<script src="{% static 'watch-assets/js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'watch-assets/js/jquery.magnific-popup.min.js' %}"></script>	
	<script src="{% static 'watch-assets/js/owl.carousel.min.js' %}"></script>			
	<script src="{% static 'watch-assets/js/jquery.sticky.js' %}"></script>
	<script src="{% static 'watch-assets/js/jquery.nice-select.min.js' %}"></script>			
	<script src="{% static 'watch-assets/js/parallax.min.js' %}"></script>	
	<script src="{% static 'watch-assets/js/mail-script.js' %}"></script>	
	<script src="{% static 'watch-assets/js/main.js' %}"></script>	
	<script src="{% static 'watch-assets/js/vendor/map.js' %}"></script>	
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="{% static 'custom/js/custom.js' %}"></script>	

	{% block javascript %}
	{% endblock %}
	
	<!-- Message Block -->
	{% block messages %}
		{% include 'includes/message.html' with messages=messages%}
	{% endblock %}


</html>