{% extends 'user/base.html' %}

{% block title %} My account {% endblock %}

{% block banner %}
	<h2 class="text-white text-uppercase">My Account</h2>
	<p class="text-white">Please complete your profile..</p>
{% endblock %}

{% block breadcrumb %}
	<a href="{% url 'home' %}" class="mr-1 text-decoration-none text-warning">Home </a>
	<span class="text-white">/ My Account</span>
{% endblock breadcrumb %}

{% block content %}
	<div class="account-wrrapper">
		<div class="container">
			<div class="row m-auto border-gray pr-0 user-login-section">
				<div class="col-lg-7 m-auto col-md-6 col-sm-7 col-11 py-sm-0 py-3">
					<h3 class="text-blue font-weight-bold text-center">My Account</h3>
					<form method="post" novalidate>
						{% csrf_token %}
						{% include 'includes/form.html' %}
						<button type="submit" class="btn btn-rose">Save changes</button>
					</form>
				</div>
				<div class="col-lg-4 pr-0 col-md-5 col-sm-5 pl-sm-0 col-6 d-sm-block d-none">
					<div class="welcome-back-wrapper">
						<div class="quarterCircleBottomLeft"></div>
						<div class="halfCircleBottom"></div>
						<div class="welcome-block mb-3">
							<h2 class="font-weight-bold text-white mb-3">Complete Profile!</h2>
							<p class="w-100">Please, Complete your account details.</p>								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}