{% extends 'user/base.html' %}

{% block title %}Password changed!{% endblock %}

{% block banner %}
  <h2 class="text-white text-uppercase">Password changed</h2>
  <p class="text-white">Password changed successfully ..</p>
{% endblock %}

{% block breadcrumb %}
  <a href="{% url 'home' %}" class="mr-1 text-decoration-none text-warning">Home </a>
    <span class="text-white">/ Reset Password / Done</span>    
{% endblock breadcrumb %}

{% block content %}
  <div class="row justify-content-center py-5 w-100">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Password changed!</h3>
          <div class="alert alert-success" role="alert">
            You have successfully changed your password! You may now proceed to log in.
          </div>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to log in</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}