{% extends 'user/base.html' %}

{% block title %}
	{% if validlink %}
		Change password for {{ form.user.username }}
	{% else %}
		Reset your password
	{% endif %}
{% endblock %}

{% block breadcrumb %}
	{% if validlink %}
		<a href="{% url 'home' %}" class="mr-1 text-decoration-none text-blue">Home </a>
		<span class="text-black">/ Change Password</span>
	{% else %}
	<a href="{% url 'home' %}" class="mr-1 text-decoration-none text-blue">Home </a>
		<span class="text-black">/ Reset Password</span>		
	{% endif %}
{% endblock breadcrumb %}

{% block content %}
	<div class="position-relative">
		<div class="bg-user-img">
			<div class="container">
				<div class="row m-auto border-gray pr-0 user-login-section">
					<div class="col-lg-7 m-auto col-md-6 col-sm-7 col-11 py-sm-0 py-3">
					{% if validlink %}
						<h3 class="text-blue font-weight-bold text-center">Reset Password</h3>
						<form method="post" novalidate>
							{% csrf_token %}
							{% include 'includes/form.html' %}
							<button type="submit" class="btn btn-rose">Reset</button>
						</form>
					{% else %}
						<h3 class="text-blue font-weight-bold text-center">Reset your password</h3>
						<div class="alert alert-danger" role="alert">
							It looks like you clicked on an invalid password reset link. Please try again.
						</div>
						<a href="{% url 'password_reset' %}" class="btn btn-rose w-100">Request a new password reset link</a>
					{% endif %}
				</div>
				<div class="col-lg-4 pr-0 col-md-5 col-sm-5 pl-sm-0 col-6 d-sm-block d-none">
					{% if validlink %}
						<div class="welcome-back-wrapper">
							<div class="quarterCircleBottomLeft"></div>
							<div class="halfCircleBottom"></div>
							<div class="welcome-block mb-3">
								<h2 class="font-weight-bold">Change password for @{{ form.user.username }}</h2>
								<p class="w-100 pt-3">Please enter new password to change your current password</p>								
							</div>
						</div>
					{% else %}	
						<div class="welcome-back-wrapper">
							<div class="quarterCircleBottomLeft"></div>
							<div class="halfCircleBottom"></div>
							<div class="welcome-block mb-3">
								<h2 class="font-weight-bold">Please, Try Again !!</h2>
								<p class="w-100 pt-3">Invalid password reset link.</p>								
							</div>
						</div>	
					{% endif %}										
					</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}