{% extends 'user/base.html' %}

{% block title %} Change password successfull {% endblock title %}

{% block breadcrumb %}
	<a href="{% url 'home' %}" class="mr-1 text-decoration-none text-blue">Home </a>
	<span class="text-black">/ Change Password / Success</span>
{% endblock breadcrumb %}


{% block content %}
<div class="position-relative">
	<div class="bg-user-img">
		<div class="container h-auto">
			<div class="row m-auto border-gray pr-0 user-login-section">
				<div class="col-lg-12 pr-0 col-md-12 col-sm-12 pl-sm-0 col-6 d-sm-block d-none">
					<div class="hello-friend-block border-radius-30px pb-5">
						<div class="quarterCircleBottomLeft"></div>
						<div class="halfCircleBottom"></div>
						<div class="welcome-block hello-friend-block border-radius-30px mx-auto text-center">
							<h4 class="font-weight-semi-bold mb-4">Success! Your password has been changed!</h4>
							<a href="{% url 'home' %}" class="btn btn-outline-rose">Return to home page</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}