{% extends 'user/base.html' %}

{% block title %} Reset Password {% endblock title %}

{% block breadcrumb %} 
	<a href="{% url 'home' %}" class="mr-1 text-decoration-none text-blue">Home </a>
	<span class="text-black"> / Reset Password</span>
{% endblock breadcrumb %}

{% block content %}
	<div class="position-relative">
		<div class="bg-user-img">
			<div class="container h-auto">
				<div class="row m-auto border-gray pr-0 user-login-section">
					<div class="col-sm-12 p-0">
						<div class=" hello-friend-block pb-5 border-radius-30px">
							<div class="quarterCircleBottomLeft"></div>
							<div class="halfCircleBottom"></div>
							<div class="welcome-block mb-3 hello-friend-block border-radius-30px">
								<h4 class="font-weight-bold text-center pb-3">Reset your password</h4>
								<p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
								<a href="{% url 'login' %}" class="btn btn-rose mt-2">Return to log in</a>
							</div>
						</div>
					</div> 
				</div>
			</div>
		</div>
	</div>

{% endblock content %}
